{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="form-style">
    <h2>Login form</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{loginform.as_p}}
      <input type="submit" value="Login" />
      <input type="button" value="Signup" onclick="location.href='{% url 'signup' %}'" />
    </form>
</div>
{% endblock %}
