{% extends 'base.html' %}

{% block title %}
<title>Phone registered</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <h2>Welcome to vrphysiogame</h2>
    <input type="text" id="nm" />
    <button onclick="submitPhoneReg()">Enter cam detection</button>
    <script src="{% static 'js/phone_reg_detect.js' %}"></script>
    <p>
        To start the VR physiogame, open the link localhost:3000 on your mobile browser, and start a session.
        Enter the name of the session on the above input box and enter.
    </p>
{% endblock %}
