{% extends 'base.html' %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block content %}
<div class="form-style">
    <h2>Signup Form</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Sign Up" />
      <input type="button" value="Login" onclick="location.href='{% url 'login' %}'" />
    </form>
</div>
{% endblock %}
