{% extends 'base.html' %}

{% block title %}
<title>Phone registered</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <h2>Welcome</h2>
    <button id="" onclick="exitHere()">Exit</button>
    <button id="" onclick="stopDetection()">Stop detection</button>
    <p id="status">Loading pose detection...</p>
    <div id="table_div" style="display: none">
        <table>
            <thead>
                <tr>
                    <th>Tilt</th>
                    <th>Angle(rad)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eye tilt</td>
                    <td id="eye_tilt"></td>
                </tr>
                <tr>
                    <td>Shoulder tilt</td>
                    <td id="shoulder_tilt"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/cam.js' %}"></script>
{% endblock %}
